.grid-container-3x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 100px);
  grid-gap: 0.5rem;
}

.grid-container-4x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(4, 80px); 
  grid-gap: 0.5rem; 
}

.grid-container-5x5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(5, 80px); 
  grid-gap: 0.5rem;
 
}

.grid-container-6x6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 80px); 
  
  grid-gap: 0.5rem;
 
}

.bloque {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px; 
  height: 80px; 
  background-color: #007ad9;
  color: white;
  font-size: 2rem; 
  border-radius: 8px;
}

button {
  width: auto;
  padding: 12px 24px;
  background: linear-gradient(135deg, #28a745, #218838);
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.4s, transform 0.3s;
  box-shadow: 0 5px 15px rgba(40, 167, 69, 0.3);
  text-transform: uppercase;
}

