<button (click)="redirigir()"> Ir a Home</button>

<p-card header="Matriz 3x3">
  <div class="grid-container-3x3">
    <div *ngFor="let item of matriz3x3" class="bloque">
      <p>{{ item }}</p>
    </div>
  </div>
</p-card>

<p-card header="Matriz 4x4">
  <div class="grid-container-4x4">
    <div *ngFor="let item of matriz4x4" class="bloque">
      <p>{{ item }}</p>
    </div>
  </div>
</p-card>

<p-card header="Matriz 5x5">
  <div class="grid-container-5x5">
    <div *ngFor="let item of matriz5x5" class="bloque">
      <p>{{ item }}</p>
    </div>
  </div>
</p-card>

<p-card header="Matriz 6x6">
  <div class="grid-container-6x6">
    <div *ngFor="let item of matriz6x6" class="bloque">
      <p>{{ item }}</p>
    </div>
  </div>

  
</p-card>
