.grid-container-3x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 100px);
  grid-gap: 0.5rem;
}

.grid-container-4x4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(4, 80px); 
  grid-gap: 0.5rem; 
}

.grid-container-5x5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(5, 80px); 
  grid-gap: 0.5rem;
 
}

.grid-container-6x6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 80px); 
  
  grid-gap: 0.5rem;
 
}

.bloque {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px; 
  height: 80px; 
  background-color: #007ad9;
  color: white;
  font-size: 2rem; 
  border-radius: 8px;
}
